atan2.pwpolyfit.q32.c
constants.q32.c
gentab.atan2.pwpolyfit
gentab.constants
gentab.logexp.polyfit
gentab.logexp.shiftadd
gentab.logsin
gentab.math.transcendentals
gentab.sincos.cordic
gentab.sincos.pwpoly
gentab.sinhcosh.cordic
logexp.polyfit.q32.c
logexp.shiftadd.q32.c
logsin.q32.c
math.transcendentals.q32.c
sincos.cordic.q32.c
sincos.pwpoly.q32.c
sinhcosh.cordic.q32.c
